<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <h4 class="auth-page__group-title">Bem vindo</h4>
          <app-login-form (sendLoginForm)="sendLoginForm()"></app-login-form>
      <p class="auth-page__footer-title">© 2021 <a href="https://www.techer.com.br/">Techer</a>.All rights reserved.</p>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/auth/logo.png" alt="logo">
    </div>
  </div>
</div>